.btn {
  padding: 0.5rem 1rem;
  border-radius: 3px;
  font-size: 1.2rem;
  color: #fff;
  text-decoration: none;
  background-color: var(--prim-color-500);
  border: none;
  transition: all 0.1s;
}

.btn:hover,
.btn:active {
  background-color: var(--prim-color-600);
}
