/* container */
.container {
  width: 100%;
  padding: 0 5%;
  margin: auto;
}

/* text-center */
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}

/* hide element */
.hidden {
  display: none;
}

/* padding */
.p-0-5 {
  padding: 0.5rem;
}
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}

.p-3 {
  padding: 3rem;
}

/* padding  */
.p-tb-0-5 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.p-tb-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.p-tb-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.p-tb-3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

/* padding */
.p-rl-0-5 {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}
.p-rl-1 {
  padding-right: 1rem;
  padding-left: 1rem;
}
.p-rl-2 {
  padding-right: 2rem;
  padding-left: 2rem;
}

.p-rl-3 {
  padding-right: 3rem;
  padding-left: 3rem;
}
